$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$gap: 1px;
$day-width: 100px;
$day-height: 100px;
$day-in-row: 7;
$calendar-width: calc($day-in-row * $day-width + $day-in-row * $gap - $gap);
$font-family: Arial;
$font-size: 30px;
